@import url(../futura/stylesheet.css) screen;
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%;
  font-family: "Trebuchet MS", "Lucida Grande", "lucida sans unicode", sans-serif;
  color: #444;
  line-height: 1.375; }

p, li {
  font-size: 0.875rem; }

h2, h3, h4, p, ul, ol {
  margin: 0 20px 16px; }

h2, h3 {
  color: #88a308;
  font-size: 1.4em; }

a {
  color: #f90;
  text-decoration: none;
  transition: color 0.5s linear; }

a:hover {
  color: #f00; }

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 50px; }

.content_main {
  float: left;
  width: 50%;
  padding: 16px 0; }

.content_sub {
  float: left;
  width: 50%;
  padding: 16px 0; }

.site_info {
  clear: both;
  position: relative;
  height: 120px;
  border-radius: 0px 0px 6px 6px;
  background: #88a308 url(../img/site_info.png) no-repeat; }

.content {
  background: #fff url(../img/html.png) center repeat-y; }

.content:after, .nav_main:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

header {
  position: relative;
  height: 120px;
  background: #88a308;
  border-radius: 8px 8px 0 0; }
  header .betainfo {
    display: none;
    width: 300px;
    min-height: 120px;
    background-color: #88a308;
    color: #fff;
    position: absolute;
    top: 10px;
    left: calc(50% - 150px);
    border: 2px solid #fff;
    border-radius: 4px; }
  header .betainfo-show {
    display: block; }

header h1 {
  background: url(../img/basil.png) no-repeat;
  font-family: FuturaStdLight;
  font-size: 5.625em;
  line-height: 1;
  color: #fff;
  position: absolute;
  top: -70px;
  left: -100px;
  padding-left: 272px;
  padding-top: 90px; }
  @media screen and (max-width: 860px) {
    header h1 {
      background-image: none;
      padding: 0 0 0 6px;
      font-size: 4em;
      line-height: 2em;
      position: static; } }
  @media screen and (max-width: 1080px) {
    header h1 {
      left: 10px; } }

.nav_tools {
  display: none; }

.nav_main {
  background: #e4e1d1; }

.nav_main p {
  float: left;
  padding: 4px;
  font-size: 1.25em;
  line-height: 2.5625em;
  color: #88a308; }

.nav_features {
  padding: 5px;
  list-style: none; }
  .nav_features li {
    float: left;
    margin-right: 12px; }
  .nav_features a {
    display: block;
    height: 52px;
    width: 140px;
    text-align: center;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background: url(../img/btns.png) no-repeat;
    border-radius: 6px; }
  @media screen and (max-width: 860px) {
    .nav_features a {
      width: 95px;
      line-height: 52px;
      font-size: 1.8em; } }

.nav_pickit a {
  background-position: 0 0; }

.nav_pickit a:hover {
  background-position: 0 -52px; }

.nav_cookit a {
  background-position: -150px 0; }

.nav_cookit a:hover {
  background-position: -150px -52px; }

.nav_storeit a {
  background-position: -300px 0; }

.nav_storeit a:hover {
  background-position: -300px -52px; }

.cssgradients .nav_storeit a {
  background: linear-gradient(to bottom, #fcde41 0%, #dfa910 100%);
  /* W3C */ }

.cssgradients .nav_storeit a:hover {
  background: linear-gradient(to bottom, #dfa910 0%, #fcde41 100%);
  /* W3C */ }

.cssgradients .nav_pickit a {
  background: linear-gradient(to bottom, #b1c944 0%, #879d2d 100%);
  /* W3C */ }

.cssgradients .nav_pickit a:hover {
  background: linear-gradient(to bottom, #879d2d 0%, #b1c944 100%);
  /* W3C */ }

.cssgradients .nav_cookit a {
  background: linear-gradient(to bottom, #6e88ca 0%, #344e90 100%);
  /* W3C */ }

.cssgradients .nav_cookit a:hover {
  background: linear-gradient(to bottom, #344e90 0%, #6e88ca 100%);
  /* W3C */ }

@media screen and (max-width: 860px) {
  .branding h2 {
    display: none; }

  .nav_main p {
    display: none; }

  .content_main, .content_sub {
    width: 100%;
    float: none; }

  .content {
    background-image: none;
    padding: 6px; } }
@media screen and (max-width: 1080px) {
  .branding h2 {
    right: 10px; } }
.rect-container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -70px;
  right: -70px;
  cursor: pointer;
  -webkit-transform: scale(0.4) rotate(15deg);
  -webkit-transition: all 0.5s linear; }
  .rect-container:hover {
    -webkit-transform: scale(0.5) rotate(0deg); }
  @media screen and (max-width: 860px) {
    .rect-container {
      top: -50px;
      right: 0px;
      -webkit-transform: scale(0.3); } }
  @media screen and (max-width: 1080px) {
    .rect-container {
      right: -20px; } }
  .rect-container .rect {
    background-color: #f90;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0; }
  .rect-container .copy {
    color: #fff;
    z-index: 9999;
    font-size: 5em;
    text-align: center;
    line-height: 200px; }
  .rect-container .two {
    -webkit-transform: rotate(30deg); }
  .rect-container .three {
    -webkit-transform: rotate(60deg); }

/*# sourceMappingURL=style.css.map */
